# Ignorar archivos de la carpeta frontend
/frontend/node_modules
/frontend/dist
/frontend/.env

# Ignorar archivos de la carpeta backend
/backend/venv
/backend/__pycache__
/backend/*/__pycache__


/backend/.env

# Ignorar archivos globales (comunes para ambos proyectos)
.idea/
__pycache__/
**/.DS_Store